body, html {
    background-color: rgb(26, 26, 26);
    color: #fff;
}

.avatarImage {
    width: 20%;
    border-radius: 50%;
    border: 2px rgb(136, 136, 136) solid;
}

.nickname {
    margin-top: 1em;
    font-family: monospace;
}

.motto {
    font-family: monospace;
    font-size: 1.5rem;
    color: #0f0;
}

.sep {
    background-color: #fff;
}

.term {
    display: inline-block;
    padding: 0.7em;
    border-radius: 0.2em;
    margin: 1em;
    background-color: rgb(0, 0, 0);
    color: #0f0;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: monospace;
}

.fix {
    margin-top: 16px;
}

img {
    max-width: 100%;
}

.list {
    margin-top: 4em;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.item {
    width: 100%;
    background-color: #111;
    padding: 1em;
    border-radius: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.postImg {
    width: 50%;
    border-radius: 1em;
}

a {
    color: #0f0;
    transition: 200ms color ease-in;
}

a:hover {
    text-decoration: none;
    color: #070
}