h1 {
    text-align: center;
}

.noteList {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.justifyContent {
    display: flex;
    justify-content: space-around;
    margin:0;
    padding: 0;
}

.noteCont {
    display: block;
    position: relative;
    margin: 1.5em;
    background-color: rgb(20, 20, 20);
    border-radius: 1em;
}

.mainCont {
    padding-top: 1em;
    width: 80%;
    margin: auto;
}

.noteName {
    display: block;
    padding: 1em;
}

.noteList > li > a {
    color: #fff;
    transition: color 200ms ease-in;
}

.noteList > li > a:hover {
    color: #999;
}

.noteList > li > a:hover {
    text-decoration: none;
}



@media only screen and (max-width: 768px) {
    .justifyContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .term {
        display: none;
    }
}